
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    background-color:darkgray;
    height : 40px;
    border-radius: 20px;
    padding-left: 10px;
}
p {   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;         
}
.image1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.obsidian-type h2 {
    color: #D68910;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.obsidian-type {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.different {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.different table, th, td {
    border: solid 3px blueviolet;
}